//- Make the scaled images be 960 pixels wide; put original ones into orig/ folder.
block main
	section
		p: i Photos may be used by the press, blogs, etc.; click to get larger version. Please credit photographers if listed in file names.

		article.masonry
			- 
				var images = [
					['Lorenzo Wood, Spring 2020', '', 1440],
					['Lorenzo Wood 0140', '', 640],
					['Lorenzo Wood 0221', 'Lorenzo Wood and band at Alameda Mini Maker Faire, 2018', 774],
					['Lorenzo Wood 1946', 'Lorenzo Wood and band at Lone Tree Cemetery Summer Concert Series, 2019', 640],
					['Lorenzo Wood 2089', 'Lorenzo Wood and band at Lone Tree Cemetery Summer Concert Series, 2019', 640],
					['Lorenzo Wood 2156', 'Lorenzo Wood and band at Lone Tree Cemetery Summer Concert Series, 2019', 640],
					['Lorenzo Wood 2168', 'Lorenzo Wood and band at Lone Tree Cemetery Summer Concert Series, 2019', 640],
					['Lorenzo Wood 2169', '', 640],
					['Lorenzo Wood 2453', '', 960],
					['Lorenzo Wood 2558', '', 960],
					['Lorenzo Wood 4965', 'Lorenzo Wood and band at Alameda Mini Maker Faire, 2018', 644],
					['Lorenzo Wood 5687', '', 960],
					['Lorenzo Wood 6115', '', 640],
					['Lorenzo Wood 6184', '', 1344],
					['Lorenzo Wood 6190', '', 640],
					['Lorenzo Wood 7646', '', 1200],
					['Lorenzo Wood 8967', '', 720],
					['Lorenzo Wood 9179', 'Lorenzo Wood and band performing in Oakland', 626],
					['Lorenzo Wood 9286', 'Lorenzo Wood and band performing in Alameda', 512],
					['Lorenzo Wood 9999', '', 640],
					['Lorenzo Wood Photo Credit Claire Ashcraft 11', '', 1044],
					['Lorenzo Wood Photo Credit Claire Ashcraft 22', '', 692],
					['Lorenzo Wood Photo Credit Dave Weiland 01', '', 1290],
					['Lorenzo Wood Photo Credit Dave Weiland 02', '', 1440],
					];

			//- The smaller size are 960 pixels wide in various formats; Original JPEGs can be much bigger and not compressed to get max quality.
			each imageDuple, i in images
				a(target='_BLANK', href=cloudImgPrefix + 'photos/orig/' + encodeURIComponent(imageDuple[0]) + '.jpg' )
					picture
						source(type='image/avif', srcset=cloudImgPrefix + 'photos/AVIF40/' + encodeURIComponent(imageDuple[0]) + '.avif')
						source(type='image/webp', srcset=cloudImgPrefix + 'photos/WebP25/' + encodeURIComponent(imageDuple[0]) + '.webp')
						img.item(data-aos='fade', data-aos-delay='500', data-aos-duration="1000", alt='Lorenzo Wood Music', title=imageDuple[1], src=cloudImgPrefix + 'photos/' + encodeURIComponent(imageDuple[0]) + '.jpg', width=960, height=imageDuple[2])


block more-credits
	span.dimmer Photo credits: Claire Ashcraft, Dave Weiland (See individual file names). No credit requested if photographer not specified in file name.
