extends _layout.pug

block prelude
	|<?php
	|$email = isset($_GET['email']) ? htmlspecialchars($_GET['email']) : '';
	|
	|require_once('classes/downcode.php');
	|$db = new DowncodeDB();
	|$release = $db->featuredRelease();
	|
	|$now = new DateTime(isset($_GET['ymd']) ? $_GET['ymd'] : 'now');
	|$releaseDate = $now;	// default to now, so it should show up as released
	|if ($release) {
	|	$releaseDateString = NULL;
	|	if (!empty($release['release_date'])) {
	|		$releaseDate = new DateTime($release['release_date'], new DateTimeZone('America/New_York'));
	|		if ($now < $releaseDate) $releaseDateString = $releaseDate->format('l, F jS');
	|	}
	|	$oneMonthAgo = new \DateTime('1 month ago');
	|}
	|
	|$marketingReleases = $db->marketingReleases();
	|?>


block vars
	- var herostyle = 'covering'
	- var currentClass = 'home'
	//- Not using pageTitle; full title tag is overridden below
	- var description = 'Lorenzo Wood is an award-winning pop musician, songwriter, producer, and vocalist from the San Francisco area.'
	//- ................'[________^10_______^20_______^30_______^40_______^50_______^60_______^70_______^80_______^90_______^100______^110______^120______^130______^140______^150_]'

block title
	title Lorenzo Wood Music — Official Site
	//- overrides generated page title used on other pages
	
block append links
	link(href=cloudRawPrefix + "css/component_aos.css" rel="stylesheet")
	//- override the AOS styles that are initially hidden and then revealed, when no Javascript
	include _noscript_aos.html

block openGraph
	<meta property="og:type" content="website">
	<meta property="og:image" content='<?php echo baseURL(); ?>/img/lorenzo-wood-image-card.jpg'>
	<meta property="og:image:width" content='1200'>
	<meta property="og:image:height" content='627'>

block styles
	style
		include css/page_home.css

//- REMINDER: DASH AFTER SLASH-SLASH HIDES COMMENTS FROM PUG COMPILER

//-.info(style="position:absolute;top:0;left:0;width:100%;height:20px;color:red;z-index:9999")

block append banner
	<?php if ($release) { ?>
	.action.clearfix.safe-area-only
		p
			<a target="_blank" href="/link/<?php echo htmlentities($release['slug'], ENT_QUOTES); ?>">
				<img loading="lazy" src="<?php echo htmlentities($db->pathCDNForImageSize($release, 64), ENT_QUOTES); ?>" alt="<?php echo htmlentities($release['title'], ENT_QUOTES); ?>, cover image" width="64" height="64" />
			</a>
			span <?php echo htmlspecialchars( ($now < $releaseDate ? 'Upcoming' : ($releaseDate < $oneMonthAgo ? 'Latest' : 'New')) . ' ' . $release['release_type_name'] . ' “' . $release['title'] . '”'); ?> —
				| &nbsp;
			b
				<a href="/link/<?php echo htmlentities($release['slug'], ENT_QUOTES); ?>"><?php echo ($now < $releaseDate) ? 'Pre-Save or Pre-Order Now!' : 'Download or stream now!'; ?></a>
	<?php } ?>

//- header: based on herostyle value, may be .covering class
block append header
	.hero

		img.hero-image.covering.swapping-image(srcset=cloudImgPrefix + "img/banner1_giant.jpg 2560w, " + cloudImgPrefix + "img/banner1_big.jpg 1920w, " + cloudImgPrefix + "img/banner1_medium.jpg 960w, " + cloudImgPrefix + "img/banner1_small.jpg 640w" sizes="100vw" width="960" height="674" src=cloudImgPrefix + "img/banner1_medium.jpg" loading="eager" alt="Lorenzo Wood")

	.icons.icons-header.overlapping.icons-5.safe-area-only
		.icon
			a(data-title="Instagram" href="https://instagram.com/LorenzoWoodMusic")
				svg: use(xlink:href="/svg/page_home.svg#instagram")
		.icon.smaller
			a(data-title="Facebook" href="https://facebook.com/LorenzoWoodMusic")
				svg: use(xlink:href="/svg/page_home.svg#facebook")
		.icon
			a(data-title="YouTube" href="https://www.youtube.com/lorenzowoodmusic")
				svg: use(xlink:href="/svg/page_home.svg#youtube")
		.icon.smaller
			a(data-title="Apple Music" href="https://geo.itunes.apple.com/us/artist/lorenzo-wood/1262743720?at=1000lKSp")
				svg: use(xlink:href="/svg/page_home.svg#apple-music-monochrome")
		.icon
			a(data-title="Spotify" href="https://open.spotify.com/artist/1rEOrX1GSkT1SJAsG1fBYA")
				svg: use(xlink:href="/svg/page_home.svg#spotify")


		//- NOTE: I tried using SVG 'defs' and 'use' to reduce duplication, but somehow
		//- the svg elements got a width of 300px that messed everything up.

block main

	section.bio

		header.ir(aria-hidden="true")
			h2 Bio
		article.textual

			//- Try to match meta description above with text below

			p( data-aos='fade').
				Lorenzo Wood is an award-winning musician, songwriter, producer, and vocalist from the San Francisco area. His heartfelt, honest lyrics present a personal perspective of friendships, relationships, and coming of age in the modern era of social media. His songs, rooted in the pop genre, borrow from a number of different musical styles to create a distinctive mix of real instruments and electronic sounds.
	
			p( data-aos='fade-left' data-aos-delay='100').
				In addition to recording and producing songs and videos in his home studio, Lorenzo performs solo or with a band live. With a skillset of music performance technology, he puts together unique, intricate live setups that make his performances stand out.

			p( data-aos='fade-right' data-aos-delay='200').
				Lorenzo lists Maroon 5, Train, U2, Shawn Mendes, Owl City, and John Mayer as his initial musical influences. But now he feels his style resembles more that of artists like Bazzi, Julia Michaels, Post Malone, and Jonas Brothers.

			p( data-aos='fade-left' data-aos-delay='300').
				Lorenzo has been performing and recording his songs since a young age. At age 13, he discovered busking, and has been performing primarily at street festivals in the San Francisco Bay Area every summer/fall since then.

			p( data-aos='fade-right' data-aos-delay='400').
				In 2018, while releasing his first EP at the age of 15, he put together and hired a band to play the newly released songs with him on stage. He performed again 2019 with a new lineup.

			p( data-aos='fade-left' data-aos-delay='500').
				Lorenzo has also performed as a member of several local bands. Recently he has supported Kat Van Morgan, Saint Benjamin, and others, playing whatever instruments were needed.

			p( data-aos='fade-right' data-aos-delay='600').
				For many of his own performances and those of others, Lorenzo coordinates and runs live sound, being knowledgeable and experienced with most audio and musical equipment.



	section.mailchimp-section
		div.centered( data-aos='fade-up' data-aos-delay='300')
			form.validate.taller(action="https://lorenzowoodmusic.us16.list-manage.com/subscribe/post?u=3fb2f947fceaaa94b99d40919&amp;id=1c68d63e9a"
				method="post"
				name="mc-embedded-subscribe-form"
				target="_blank")
				//- Use raw HTML here since the escaping happens too early when processed by pug
				<input type="email" id="mce-EMAIL" name="EMAIL" placeholder="Email address" title="The domain portion of the email address is invalid (the portion after the @)." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
				input#mce-FNAME(type="text", name="FNAME", placeholder="First Name")
				input#mce-LNAME(type="text", name="LNAME", placeholder="Last Name")
				span.ir(aria-hidden="true")
					input(class="ir", type="text", name="b_3fb2f947fceaaa94b99d40919_1c68d63e9a" tabindex="-1")
				input.button(type="submit" value="Subscribe to Announcement Email List" name="subscribe")


	section.gigs
		article.wider( data-aos='fade-up' data-aos-delay='600')

			//- Bands in Town content gets loaded here from cache.
			|<?php include 'CACHE/bandsintown.html'; ?>
			p: i Please check back closer to the scheduled dates to make sure performances are not cancelled due to coronavirus.

	section.latest-releases.unpadded
		.subsection.ir(aria-hidden="true")
			article
				header
					h2 Latest Releases

		//- note that above definition of $release is not longer valid since we define it here in the loop
		<?php $reversed = true; foreach ($marketingReleases as $release) { ?>

		<div class="subsection <?php echo $release['light_text'] ? 'light-text' : 'dark-text'; ?>" style="background-color:<?php echo htmlentities($release['color'], ENT_QUOTES); ?>">
			<article class="<?php
				|
				|$reversed = !$reversed;
				|if (!$release['youtube_video_v']) { echo 'no-video'; if ($reversed) { echo ' '; } } 
				|if ($reversed) { echo 'reversed'; }
				|
				|?>">
				
				<div class="release-image bordered" data-aos="fade-<?php echo $reversed ? 'left' : 'right'; ?>" data-aos-delay='200'>
					<a class="aaa" href="/link/<?php echo htmlentities($release['slug'], ENT_QUOTES); ?>"><?php
					|	echo '<img loading="lazy" width="64" height="64" src="';
					|	echo htmlentities($db->pathCDNForImageSize($release, 64), ENT_QUOTES);
					|	echo '" alt= "Cover image of ';
					|	echo htmlentities($release['title'], ENT_QUOTES);
					|	echo '" srcset="';
					|	echo htmlentities(
					|		$db->pathCDNForImageSize($release, 64) . ' 64w, ' .
					|		$db->pathCDNForImageSize($release, 384) . ' 384w, ' .
					|		$db->pathCDNForImageSize($release, 640) . ' 640w', ENT_QUOTES);
					|	echo '" sizes="(max-width: 768px) 100vw, 25vw"/>';
					|?>
					|</a>
				</div>
				div.release-text( data-aos="fade-up" data-aos-duration="1000")
					h3
						<a href="<?php echo '/link/' . htmlentities($release['slug'], ENT_QUOTES); ?>">
							<?php echo htmlspecialchars($release['title']); ?>
						</a>
					<?php if ($release['artist_id'] != 1) { echo '<h4>' . htmlspecialchars($release['artist_name']) . '</h4>'; } ?>
					<?php echo $release['description_html']; ?>

					<?php $releaseDate = new DateTime($release['release_date'], new DateTimeZone('America/New_York'));
					|if ($now < $releaseDate) { ?>

					<h4>Releasing <?php echo htmlspecialchars($releaseDate->format('F j, Y')); ?></h4>
					<p><a class="bold" href="link/<?php echo htmlentities($release['slug'], ENT_QUOTES); ?>">Pre-Save / Pre-Order</a></p>

					<?php } else { ?>

					<h4><?php echo htmlspecialchars($releaseDate->format('F Y')); ?></h4>
					<p><a class="bold" href="link/<?php echo htmlentities($release['slug'], ENT_QUOTES); ?>">Download/Stream</a></p>

					<?php } ?>
				<?php if ($release['youtube_video_v']) { echo '<div class="release-video" data-aos="fade-' . ($reversed ? 'right' : 'left') . '" data-aos-delay="400" data-aos-duration="1000"><div class="youtube-player" data-code="' . $release['youtube_video_v'] . '"></div></div>'; } ?>
			</article>
		</div> <!-- end subsection-->

		<?php } ?>



//- block more-credits
//- 	span.dimmer Photo credits: Lucy Gigli

block additional-html
	.none#cover
		.modal.none#contacter
			include _contact.html
			//- Contact form popup gets its "guts" from this file, just the HTML innards
		.none#close-modal &#215;

	.scrolldown.bounce
		svg: use(xlink:href="/svg/page_home.svg#downarrow")


block prepend scripts
	script(src=cloudRawPrefix + "js/aos-min.js")
	script AOS.init({disable:'mobile',once:true});
		include js/hero-min.js
		//- NOTE: index depends on javascript in hero to deal with scrolling hero image
		include js/index-min.js
		include js/youtube-min.js


	<script type="application/ld+json">{"@context":"http://schema.org","@type":"Person","name":"Lorenzo Wood","url":"https://www.lorenzowoodmusic.com/","sameAs":["https://www.facebook.com/lorenzowoodmusic/","https://twitter.com/lorenzowmusic","https://www.instagram.com/LorenzoWoodMusic/","https://www.youtube.com/lorenzowoodmusic","https://listen.tidal.com/artist/9832731","https://soundcloud.com/LorenzoWoodMusic","https://geo.itunes.apple.com/us/artist/lorenzo-wood/1262743720?at=1000lKSp","https://open.spotify.com/artist/1rEOrX1GSkT1SJAsG1fBYA"]}</script>

