extends _layout.pug

block prelude
	|<?php
	//- We could show an initial warning that downloads from iOS don't go into the library directly?
	//-$iOSDevice = false; // or set to a non-false text value
	//-if (preg_match("/(\\(iPod|\\(iPhone|\\(iPad)/", $_SERVER['HTTP_USER_AGENT'], $matches)) {
	//-	$iOSDevice = substr($matches[1], 1);
	//-}
	|$code = isset($_GET['code']) ? htmlspecialchars($_GET['code']) : '';
	|$email = isset($_GET['email']) ? htmlspecialchars($_GET['email']) : '';
	|?>


block vars
	- var herostyle = 'covering'
	- var current = 'Home'
	- var description = 'Lorenzo Wood is a musician, singer-songwriter, and producer from Alameda, California USA. He sings and plays guitar, keys, drums, bass, and has fun on mandolin and banjo.'

block title
	title Lorenzo Wood Music — Official Site
	
block append links
	link(rel="prefetch" href="//code.jquery.com")
	link(rel="prefetch" href="//img.youtube.com")

//- REMINDER: DASH AFTER SLASH-SLASH HIDES COMMENTS FROM PUG COMPILER

//-.info(style="position:absolute; top:0; left:0; width:100%; height:20px; color:red;z-index:9999")

block append header
	.hero
		.action-banner.clearfix.safe-area-only
			p
				a(target="_blank" href="/link/still-need-love")
					img(style="display:inline-block; width:2em; height:auto; padding:0;" src="album_art_384/still-need-love.jpg" alt="Still Need Love, cover image")
				span New single “Still Need Love” —
					| &nbsp;
				b
					a(style="text-decoration:underline", href="/link/still-need-love") Pre-order or pre-save now!

		picture
			source(srcset="img/banner1_giant.jpg 2560w, img/banner1_big.jpg 1920w, img/banner1_medium.jpg 960w, img/banner1_small.jpg 640w")
			img.hero-image.covering(src="img/banner1_medium.jpg" loading="eager" alt="Lorenzo Wood")
	//-.featured
	//-	a(data-title="Buy at Bandcamp.com" href="https://lorenzowoodmusic.bandcamp.com/album/now-in-control")
	//-		img(src="album_art_384/now-in-control.jpg" alt="EP thumbnail")
	//-	div Buy the new EP here

	.icons.icons-header.absolute.icons-5.safe-area-only
		a(data-title="Instagram" href="https://instagram.com/LorenzoWoodMusic")
			include svg/instagram-logo.svg
		a.smaller(data-title="Facebook" href="https://facebook.com/LorenzoWoodMusic")
			include svg/facebook-logo.svg
		a(data-title="YouTube" href="https://www.youtube.com/lorenzowoodmusic")
			include svg/youtube-logo.svg
		a.smaller(data-title="Apple Music" href="https://geo.itunes.apple.com/us/artist/lorenzo-wood/1262743720?at=1000lKSp")
			include svg/Apple_Music_Icon.svg
		a(data-title="Spotify" href="https://open.spotify.com/artist/1rEOrX1GSkT1SJAsG1fBYA?si=kAr7Wf29R7WkScnbG9d2dg")
			include svg/spotify-logo.svg


		//- NOTE: I tried using SVG 'defs' and 'use' to reduce duplication, but somehow
		//- the svg elements got a width of 300px that messed everything up.

block main

	section.bio

		header.ir(aria-hidden="true")
			h2 Bio
		article.textual

			//- Try to match meta description above with text below

			p.
				Lorenzo Wood is a musician, singer-songwriter, and producer from Alameda, California USA. He sings and plays guitar, keys, drums, bass, and has fun on mandolin and banjo.
			p.
				Lorenzo performs solo or with a band in concert and at street fairs and private events. In addition to playing live, Lorenzo runs a recording studio in Alameda producing local artists as well as his own music.
			p.
				Lorenzo’s single, <a href="href="/link/jacket">Jacket (I’m Sensitive)</a> won Song of the Year in Redwood City and Song of the Month in Palo Alto for West Coast Songwriters.

			blockquote “His voice is like ear candy”
				footer Wheeler Cole, West Coast Songwriters

			p.
				He also runs live sound, and is knowledgeable and experienced with most audio and musical equipment.
			p.
				Lorenzo lists Maroon 5, Shawn Mendes, Julia Michaels, John Mayer, The Beatles, U2, Fleetwood Mac, Niall Horan and Train as his musical influences.

			aside.epk.download
				a(href="EPK.zip") Electronic Press Kit


	section.mailchimp-section
		div.centered
			form.validate.taller(action="https://lorenzowoodmusic.us16.list-manage.com/subscribe/post?u=3fb2f947fceaaa94b99d40919&amp;id=1c68d63e9a"
				method="post"
				name="mc-embedded-subscribe-form"
				target="_blank")
				//- Use raw HTML here since the escaping happens too early when processed by pug
				<input type="email" id="mce-EMAIL" name="EMAIL" placeholder="Email address" title="The domain portion of the email address is invalid (the portion after the @)." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
				input#mce-FNAME(type="text" name="FNAME" placeholder="First Name")
				input#mce-LNAME(type="text" name="LNAME" placeholder="Last Name")
				span.ir(aria-hidden="true")
					input(class="ir" type="text" name="b_3fb2f947fceaaa94b99d40919_1c68d63e9a" tabindex="-1")
				input.button(type="submit" value="Subscribe to Announcement Email List" name="subscribe")


	section.gigs
		article.textual

			//- Bands in Town content gets loaded here from cache.
			|<?php include 'CACHE/bandsintown.html'; ?>

			//- p
			//-	span.bandsintown-button
			//-		a(href="https://www.bandsintown.com/a/14965242")
			//-			include svg/bandsintown-logo.svg
			//-			| Track Lorenzo Wood on BandsInTown
			//-	|
			//-	|to be notified of upcoming gigs!

	section.latest-releases.unpadded
		.subsection
			article
				header.centered
					h2 Latest Releases

		.subsection.lightanchor(style="background-color:#3b8abb")
			article
				.release-image.bordered
					a(href="/link/still-need-love")
						img(src="/album_art_640/still-need-love.jpg")
				.release-blurb.no-video
					h3: a(href="/link/still-need-love") Still Need Love
					h4 March 2020
					p The first of several singles that I'm releasing in Spring 2020. The start of my new era of music with a fiery beat and smooth saxophone.
					p Originally meant to be a song about depression and heartbreak, it gains new meaning during the lonely times of social distancing and being stuck at home.
					p: a.bold(href="link/still-need-love") Download/Stream

		.subsection.lightanchor.reversed(style="background-color:#1D2C1D") 
			article
				.release-image.bordered
					a(href="link/jacket")
						img(src="/album_art_640/jacket-ep.jpg")
				.release-blurb
					h3: a(href="link/jacket") Jacket (EP)
					h4 May 2019 (Single), Oct 2019 (EP)
					p It's about how your friends need to support you, even if they don't understand what you're going through.
					p This is an EP with four versions of the same song! The original (in the video here), a remix by <a class="spotify" href="https://open.spotify.com/artist/1BGQD9MGL3oUkS4sN86Wec">Aendru</a>, a rock version, and an acoustic-driven duet with <a href="https://www.kaiasongs.com">Kaia</a>.
					p: a.bold(href="link/jacket") Download/Stream
				.release-video
					.youtube(data-embed='iVHF1RM7a9I:Lorenzo Wood - Jacket (I\'m Sensitive)')
					div: a(href="https://youtu.be/iVHF1RM7a9I") Original video
					div: a(href="https://youtu.be/_______") Duet with Kaia
					div: a(href="https://youtu.be/Jg1yOnHlcYA") Live Acoustic performance


		.subsection.lightanchor(style="background-color:#490B19")
			article
				.release-image.bordered
					a(href="/link/heartless")
						img(src="/album_art_640/heartless.jpg")
				.release-blurb
					h3: a(href="/link/heartless") Heartless
					h4 2AM in the Basement • December 2019
					p After listening to Heartless by Diplo and Morgan Wallen a few times, I knew I had to cover it. I used it as an opportunity to learn to produce and edit video and try out singing in a different style.
					p: a.bold(href="link/heartless") Download/Stream
				.release-video
					.youtube(data-embed='PfjIqix5ZZw:Heartless (Diplo & Morgan Wallen) Cover by 2AM In The Basement')

		.subsection.darkanchor.reversed(style="background-color:#d0aa85")
			article
				.release-image
					a(href="/link/old-town-road")
						img(src="/album_art_640/old-town-road.jpg")
				.release-blurb.no-video
					h3: a(href="/link/old-town-road") Old Town Road
					h4 2AM in the Basement • May 2019
					p I made this track from start to finish in just over twenty-fours just before the peak of the song's popularity. <a href="http://designology.co">Kyle Wonzen</a> did an awesome job on the artwork, and I've had him contributing artwork ever since.
					p: a.bold(href="link/old-town-road") Download/Stream

		.subsection.darkanchor(style="background-color:#bec7cc")
			article
				.release-image
					a(href="link/now-in-control")
						img(src="/album_art_640/now-in-control.jpg")
				.release-blurb.no-video
					h3: a(href="link/now-in-control") Now In Control (EP)
					h4 May 2018
					p My debut EP, released when I was just 15 years old. That seems so long ago now! My favorite track is "Don't Look Back"; It's stood the test of time (two years, haha) the most, in my opinion.
					p: a.bold(href="link/now-in-control") Download/Stream


	section.contact-section
		article.textual.clearfix
			.side-photo
				picture
					source(srcset="img/southshore.webp 990w" type="image/webp")
					source(srcset="img/southshore.jpg 990w, img/southshore50.jpg 495w")
					img(src="img/southshore.jpg" loading="lazy" alt="Lorenzo Wood singing, at South Shore Center, viewed from the side")
			.next-to-side-photo
				.next-to-side-photo-padded
					header
						h2 Contact Lorenzo Wood Music
					p.
						Book a gig, suggest a collaboration or song, or just say hi!
					.input-form
						form#contact-form(action="mailme.php" method="post")
							div
								//- Use raw HTML here since the escaping happens too early when processed by pug
								<input type="email" name="e" id="e_fm" placeholder="Your Email Address" title="The domain portion of the email address is invalid (the portion after the @)." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
							div
								input(type="text" id="e_na" name="n" placeholder="Your Name" value="")
							div: textarea(type="text" id="e_ms" name="m" rows="10" cols="40" required="required" placeholder="Message")
							div
								
								//- honeypot
								input(type="text" name="subject" value="" class="ir")
								input(type="text" name="message" value="" class="ir")

								input(type="hidden" name="f" value="This message was sent from the LorenzoWoodMusic.com website.")
								input(type="hidden" name="s" value="Message sent from LorenzoWoodMusic.com")
								input(type="hidden" name="r" value="/")
								input(type="hidden" name="h" value="contact-form")

								input.button(type="submit" value="Contact us")
								
							<?php if (isset($_GET['msg'])) { echo '<h2>' . htmlspecialchars($_GET['msg']) . '</h2>'; } ?>
							<?php if (isset($_GET['e'])) { echo '<h2 style="color:#C00">' . htmlspecialchars($_GET['e']) . '</h2>'; } ?>

block more-credits
	span.dimmer &nbsp; Photo credits: Lucy Gigli, David Weintraub

block additional-html
	#cover(style="display:none")
	#redeemer(style="display:none")
	#close-redeem(style="display:none") &#215;


//- NOTE THAT HOME PAGE IS ONLY PAGE THAT IS CURRENTLY USING JQUERY

block scripts
	script(
		src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous")
	script.
		window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\\/script>')
	script
		include js/index-min.js
		include js/youtube-min.js
		//- This goes after the youtube code for "iOS"
		|if (iOS) $('#form-album').val(window.DeviceMotionEvent ? '2938' : '8603');
		//- Modernizer-like
		//- Remove "no-js" class from element, if it exists
		|document.documentElement.className = document.documentElement.className.replace("no-js","js");


	<?php if ($code) { ?><script>$('#redeem-form').submit();</script><?php } ?>
	<script type="application/ld+json">{"@context":"http://schema.org","@type":"Person","name":"Lorenzo Wood","url":"https://www.lorenzowoodmusic.com/","sameAs":["https://www.facebook.com/lorenzowoodmusic/","https://twitter.com/lorenzowmusic","https://www.instagram.com/LorenzoWoodMusic/","https://www.youtube.com/lorenzowoodmusic","https://soundcloud.com/LorenzoWoodMusic","https://geo.itunes.apple.com/us/artist/lorenzo-wood/1262743720?at=1000lKSp","https://open.spotify.com/artist/1rEOrX1GSkT1SJAsG1fBYA?si=kAr7Wf29R7WkScnbG9d2dg"]}</script>

