extends _layout.pug


//-   MIXIN FOR IMAGE WITH SRCET AND SIZES ATTRIBUTES
//-   Takes 4 arguments:
//-   src: a string with path to original(default) file;
//-   alt: string with alt text;
//-   resolutions: an array with all necessary resolutions, for example [450, 520, 680, 768, 992, 1200];
//-   sizes: a 2-dimensional array. The inner values can be an array of length 2, where array[0] is a string with media query condition, and array[1] is a string with width including units. Besides the array, there can be included one string, representing the default width. Example:
//-    var coverArtSizes = [
//-    		["min-width: 24em", "50vw"],
//-    		["min-width: 36em", "33.3vw"],
//-    		"100vw"
//-    	];
//-    FILE NAMING: to get this mixin working properly, all your source files need to be located in the same folder and follow the same naming scheme.
//-    Default image: {fileName}.{FileExtention} --> this value is to be included as src argument
//-    Alternative sources:{fileName}-(resolutions value, corresponding to the image).{fileExtention}.
//-   Example:
//-   Default image: src/img/heroimage.jpg
//-   Source image for 500w viewport: src/img/heroimage-500.jpg

mixin img(src, alt, resolutions, sizes)
	-
		var directoryPrelude = "/album_art_";
		var newSrc = directoryPrelude + resolutions[0] + "/" + src;
		var srcset = [];
		for (i = 0; i  <  resolutions.length; i++) {
			srcset.push(directoryPrelude + resolutions[i] + "/" + src + " " + resolutions[i] + "w");
		}
		srcset = srcset.join(", ");
		var mediaSizes = [];
		var defaultSize;
		if (sizes.constructor === Array) {
			for (var i = 0; i < sizes.length; i++) {
				if (sizes[i].constructor === Array && sizes[i].length === 2) {
				mediaSizes.push("\(" + sizes[i][0] + "\) " + sizes[i][1]);
				}
				else if (sizes[i].constructor === String) {
					defaultSize = sizes[i];
				}
				else {
					console.log("Check Sizes value: it can only take arrays of length 2, containing media query and width/pixel density descriptor, or default width as string")
				}
			}
			sizes = mediaSizes.join(" ") + " " + defaultSize;
		}
		else {
			console.log("Sizes must be array or number")
		}
	img(src=newSrc, alt=alt, srcset=srcset, sizes=sizes)

block prelude
	|<?php
	//- We could show an initial warning that downloads from iOS don't go into the library directly?
	//-$iOSDevice = false; // or set to a non-false text value
	//-if (preg_match("/(\\(iPod|\\(iPhone|\\(iPad)/", $_SERVER['HTTP_USER_AGENT'], $matches)) {
	//-	$iOSDevice = substr($matches[1], 1);
	//-}
	|$code = isset($_GET['code']) ? htmlspecialchars($_GET['code']) : '';
	|$email = isset($_GET['email']) ? htmlspecialchars($_GET['email']) : '';
	|
	|require_once('classes/downcode.php');
	|$db = new DowncodeDB();
	|$album = $db->featuredAlbum();
	|
	|$now = new DateTime();
	|$release = $now;	// default to now, so it should show up as released
	|if ($album) {
	|	$releaseDateString = NULL;
	|	if (!empty($album['release_date'])) {
	|		$release = new DateTime($album['release_date'], new DateTimeZone('America/New_York'));
	|		if ($now < $release) $releaseDateString = $release->format('l, F jS');
	|	}
	|	$oneMonthAgo = new \DateTime('1 month ago');
	|}
	|?>


block vars
	- var herostyle = 'covering'
	- var currentClass = 'home'
	//- Not using pageTitle; full title tag is overridden below
	- var description = 'Lorenzo Wood is a musician, songwriter, producer, and vocalist from Alameda, California USA.'
	//- ................'[________^10_______^20_______^30_______^40_______^50_______^60_______^70_______^80_______^90_______^100______^110______^120______^130______^140______^150_]'

block title
	title Lorenzo Wood Music — Official Site
	//- overrides generated page title used on other pages
	
block append links
	link(rel="prefetch" href="//code.jquery.com")
		//- This should be done on any page using jquery - ONLY HOME PAGE & 2AM PAGE
	link(rel="prefetch" href="//img.youtube.com")
		//- This should be done on any page showing YOUTUBE VIDEOS

//- REMINDER: DASH AFTER SLASH-SLASH HIDES COMMENTS FROM PUG COMPILER

//-.info(style="position:absolute; top:0; left:0; width:100%; height:20px; color:red;z-index:9999")

block append header
	.hero
		<?php if ($album) { ?>
		.action-banner.clearfix.safe-area-only
			p
				<a target="_blank" href="/link/<?php echo htmlentities($album['slug'], ENT_QUOTES); ?>">
					<img style="display:inline-block; width:32px; height:auto; padding:0;" src="album_art_64/<?php echo htmlentities($album['imageName'], ENT_QUOTES); ?>" alt="<?php echo htmlentities($album['title'], ENT_QUOTES); ?>, cover image" />
				</a>
				span <?php echo htmlspecialchars( ($now < $release ? 'Upcoming' : ($release < $oneMonthAgo ? 'Latest' : 'New')) . ' ' . $album['album_ep_single'] . ' “' . $album['title'] . '”'); ?> —
					| &nbsp;
				b
					<a style="text-decoration:underline" href="/link/<?php echo htmlentities($album['slug'], ENT_QUOTES); ?>"><?php echo ($now < $release) ? 'Pre-Save or Pre-Order Now!' : 'Download or stream now!'; ?></a>
		<?php } ?>

		img.hero-image.covering.swapping-image(srcset="img/banner1_giant.jpg 2560w, img/banner1_big.jpg 1920w, img/banner1_medium.jpg 960w, img/banner1_small.jpg 640w" sizes="100vw" src="img/banner1_medium.jpg" loading="eager" alt="Lorenzo Wood")

	.icons.icons-header.absolute.icons-5.safe-area-only
		a(data-title="Instagram" href="https://instagram.com/LorenzoWoodMusic")
			include svg/instagram-logo.svg
		a.smaller(data-title="Facebook" href="https://facebook.com/LorenzoWoodMusic")
			include svg/facebook-logo.svg
		a(data-title="YouTube" href="https://www.youtube.com/lorenzowoodmusic")
			include svg/youtube-logo.svg
		a.smaller(data-title="Apple Music" href="https://geo.itunes.apple.com/us/artist/lorenzo-wood/1262743720?at=1000lKSp")
			include svg/Apple_Music_Icon.svg
		a(data-title="Spotify" href="https://open.spotify.com/artist/1rEOrX1GSkT1SJAsG1fBYA?si=kAr7Wf29R7WkScnbG9d2dg")
			include svg/spotify-logo.svg


		//- NOTE: I tried using SVG 'defs' and 'use' to reduce duplication, but somehow
		//- the svg elements got a width of 300px that messed everything up.

block main

	section.bio

		header.ir(aria-hidden="true")
			h2 Bio
		article.textual

			//- Try to match meta description above with text below

			p.
				Lorenzo Wood is an award-winning musician, songwriter, producer, and vocalist from Alameda, California USA. 
	
			p.
				In addition to recording and producing songs and videos in his home studio, Lorenzo performs solo or with a band live. With a skillset of music performance technology, he puts together unique, intricate live setups that make his performances stand out. 
			p.
				Lorenzo lists Maroon 5, Train, U2, Shawn Mendes, and John Mayer as his initial musical influences. But now he feels his style resembles more that of artists like Bazzi, Julia Michaels, Post Malone, and Jonas Brothers.

			blockquote “His voice is like ear candy”
				footer Wheeler Cole, West Coast Songwriters

			p.
				Lorenzo has been performing and recording his songs since a young age. At age 13, he discovered busking, and has been performing primarily at street festivals in the San Francisco Bay Area every summer/fall since then.

			p.
				In 2018, while releasing his first EP at the age of 15, he put together and hired a band to play the newly released songs with him on stage. He performed again 2019 with a new lineup.

			p.
				Lorenzo has also performed as a member of several local bands. Recently he has supported Kat Van Morgan, Saint Benjamin, and others, playing whatever instruments were needed.

			p.
				For many of his own performances and those of others, Lorenzo coordinates and runs live sound, being knowledgeable and experienced with most audio and musical equipment.



	section.mailchimp-section
		div.centered
			form.validate.taller(action="https://lorenzowoodmusic.us16.list-manage.com/subscribe/post?u=3fb2f947fceaaa94b99d40919&amp;id=1c68d63e9a"
				method="post"
				name="mc-embedded-subscribe-form"
				target="_blank")
				//- Use raw HTML here since the escaping happens too early when processed by pug
				<input type="email" id="mce-EMAIL" name="EMAIL" placeholder="Email address" title="The domain portion of the email address is invalid (the portion after the @)." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
				input#mce-FNAME(type="text" name="FNAME" placeholder="First Name")
				input#mce-LNAME(type="text" name="LNAME" placeholder="Last Name")
				span.ir(aria-hidden="true")
					input(class="ir" type="text" name="b_3fb2f947fceaaa94b99d40919_1c68d63e9a" tabindex="-1")
				input.button(type="submit" value="Subscribe to Announcement Email List" name="subscribe")


	section.gigs
		article.textual

			//- Bands in Town content gets loaded here from cache.
			|<?php include 'CACHE/bandsintown.html'; ?>
			p: i Please check back closer to the scheduled dates to make sure performances are not cancelled due to coronavirus.
			//- p
			//-	span.bandsintown-button
			//-		a(href="https://www.bandsintown.com/a/14965242")
			//-			include svg/bandsintown-logo.svg
			//-			| Track Lorenzo Wood on BandsInTown
			//-	|
			//-	|to be notified of upcoming gigs!

	section.latest-releases.unpadded
		.subsection.ir(aria-hidden="true")
			article
				header
					h2 Latest Releases

		-
			var coverArtResolutions = [64, 384, 640];	//- really the 384 is rarely used except on small 1x screens?
			var coverArtSizes = [
			["max-width: 768px", "100vw"],
			"25vw"
			];

		.subsection.light-text(style="background-color:#222222")
			article
				.release-image.bordered
					a(href="/link/more-than-friends")
						+img("more-than-friends.png", "Cover image of More Than Friends", coverArtResolutions, coverArtSizes)
				.release-blurb.no-video
					h3: a(href="/link/more-than-friends") More Than Friends

					p More Than Friends is an upbeat song about the hopeful transition from being just friends into something more.
					blockquote ’More Than Friends’ is a soft Electro Pop track with a brief interlude of sultry saxophone to add to the musical layers and production. The emotion of the lyrics is real, and Wood’s performance is genuine as you can feel the plaintive hope in every word.
						footer: a(href="https://www.laonlock.com/reviews/5/1/2020/lorenzo-wood-more-than-friends-review") LA on Lock

					<?php $release = new DateTime('2020-05-01 00:00:00', new DateTimeZone('America/New_York'));
					|if ($now < $release) { ?>

					h4 Releasing May 1, 2020
					p: a.bold(href="link/more-than-friends") Pre-Save / Pre-Order

					<?php } else { ?>

					h4 May 2020
					p: a.bold(href="link/more-than-friends") Download/Stream

					<?php } ?>

		.subsection.light-text(style="background-color:#3b8abb")
			article
				.release-image.bordered
					a(href="/link/still-need-love")
						+img("still-need-love.jpg", "Cover image of Still Need Love", coverArtResolutions, coverArtSizes)
				.release-blurb
					h3: a(href="/link/still-need-love") Still Need Love
					h4 March 2020
					p The first of several singles that I'm releasing in Spring 2020. The start of my new era of music with a fiery beat and smooth saxophone.
					p Originally meant to be a song about depression and heartbreak, it gains new meaning during the lonely times of social distancing and being stuck at home.
					p: a.bold(href="link/still-need-love") Download/Stream
				.release-video
					.youtube(data-code='TkDhR4FMHVg' data-title='Lorenzo Wood - Still Need Love (Official Lyric Video)')

		.subsection.light-text.reversed(style="background-color:#1D2C1D") 
			article
				.release-image.bordered
					a(href="link/jacket")
						+img("jacket-ep.jpg", "Cover image of Jacket EP", coverArtResolutions, coverArtSizes)
				.release-blurb
					h3: a(href="link/jacket") Jacket (EP)
					h4 May 2019 (Single), Oct 2019 (EP)
					p It's about how your friends need to support you, even if they don't understand what you're going through.
					p This is an EP with four versions of the same song! The original (in the video here), a remix by <a class="spotify" href="https://open.spotify.com/artist/1BGQD9MGL3oUkS4sN86Wec">Aendru</a>, a rock version, and an acoustic-driven duet with <a href="https://www.kaiasongs.com">Kaia</a>.
					p: a.bold(href="link/jacket") Download/Stream
				.release-video
					.youtube(data-code='iVHF1RM7a9I' data-title='Lorenzo Wood - Jacket (I\'m Sensitive)')
					div: a(href="https://youtu.be/iVHF1RM7a9I") Original video
					div: a(href="https://youtu.be/_______") Duet with Kaia
					div: a(href="https://youtu.be/Jg1yOnHlcYA") Live Acoustic performance


		.subsection.light-text(style="background-color:#490B19")
			article
				.release-image.bordered
					a(href="/link/heartless")
						+img("heartless.jpg", "Cover image of Heartless", coverArtResolutions, coverArtSizes)
				.release-blurb
					h3: a(href="/link/heartless") Heartless
					h4 2AM in the Basement • December 2019
					p After listening to Heartless by Diplo and Morgan Wallen a few times, I knew I had to cover it. I used it as an opportunity to learn to produce and edit video, and to try out singing in a different style.
					p: a.bold(href="link/heartless") Download/Stream
				.release-video
					.youtube(data-code='PfjIqix5ZZw' data-title='Heartless (Diplo & Morgan Wallen) Cover by 2AM In The Basement')

		.subsection.dark-text.reversed(style="background-color:#d0aa85")
			article
				.release-image
					a(href="/link/old-town-road")
						+img("old-town-road.jpg", "Cover image of Old Town Road", coverArtResolutions, coverArtSizes)
				.release-blurb.no-video
					h3: a(href="/link/old-town-road") Old Town Road
					h4 2AM in the Basement • May 2019
					p I made this track from start to finish in just over twenty-fours just before the peak of the song's popularity. <a href="http://designology.co">Kyle Wonzen</a> did an awesome job on the graphics, and I've had him contributing artwork ever since.
					p: a.bold(href="link/old-town-road") Download/Stream

		.subsection.dark-text(style="background-color:#bec7cc")
			article
				.release-image
					a(href="link/now-in-control")
						+img("now-in-control.jpg", "Cover image of Now In Control", coverArtResolutions, coverArtSizes)
				.release-blurb.no-video
					h3: a(href="link/now-in-control") Now In Control (EP)
					h4 May 2018
					p My debut EP, released when I was just 15 years old. That seems so long ago now! My favorite track is "Don't Look Back"; It's stood the test of time (two years, haha) the most, in my opinion.
					p: a.bold(href="link/now-in-control") Download/Stream



//- block more-credits
//- 	span.dimmer Photo credits: Lucy Gigli

block additional-html
	#cover(style="display:none")
	.modal#redeemer(style="display:none")
	.modal#contacter(style="display:none")
		include _contact.html
		//- Contact form popup gets its "guts" from this file, just the HTML innards
	#close-modal(style="display:none") &#215;

	#scroll-arrow.scrolldown.bounce(style="display:none; stroke:purple;")
		a.down-arrow(href="#")
			include svg/downarrow.svg


//- NOTE THAT HOME PAGE & 2AM PAGE ARE ONLY PAGES USING JQUERY

block prepend scripts
	script(
		src="https://code.jquery.com/jquery-3.5.0.min.js"
		integrity="sha384-LVoNJ6yst/aLxKvxwp6s2GAabqPczfWh6xzm38S/YtjUyZ+3aTKOnD/OJVGYLZDl"
		crossorigin="anonymous")
	script.
		window.jQuery || document.write('<script src="js/vendor/jquery-3.5.0.min.js"><\\/script>')
	script
		include js/index-min.js
		include js/hero-min.js
		include js/youtube-min.js
		//- This goes after the youtube code for "iOS"
		|if (iOS) $('#form-album').val(window.DeviceMotionEvent ? '2938' : '8603');


	<?php if ($code) { ?><script>$('#redeem-form').submit();</script><?php } ?>
	<script type="application/ld+json">{"@context":"http://schema.org","@type":"Person","name":"Lorenzo Wood","url":"https://www.lorenzowoodmusic.com/","sameAs":["https://www.facebook.com/lorenzowoodmusic/","https://twitter.com/lorenzowmusic","https://www.instagram.com/LorenzoWoodMusic/","https://www.youtube.com/lorenzowoodmusic","https://listen.tidal.com/artist/9832731","https://soundcloud.com/LorenzoWoodMusic","https://geo.itunes.apple.com/us/artist/lorenzo-wood/1262743720?at=1000lKSp","https://open.spotify.com/artist/1rEOrX1GSkT1SJAsG1fBYA?si=kAr7Wf29R7WkScnbG9d2dg"]}</script>

