extends _layout.pug



block prelude
	|<?php
	|$email = isset($_GET['email']) ? htmlspecialchars($_GET['email']) : '';
	|
	|require_once('classes/downcode.php');
	|$db = new DowncodeDB();
	|$release = $db->featuredRelease();
	|
	|$now = new DateTime(isset($_GET['ymd']) ? $_GET['ymd'] : 'now');
	|$releaseDate = $now;	// default to now, so it should show up as released
	|if ($release) {
	|	$releaseDateString = NULL;
	|	if (!empty($release['release_date'])) {
	|		$releaseDate = new DateTime($release['release_date'], new DateTimeZone('America/New_York'));
	|		if ($now < $releaseDate) $releaseDateString = $releaseDate->format('l, F jS');
	|	}
	|	$oneMonthAgo = new \DateTime('1 month ago');
	|}
	|
	|$marketingReleases = $db->marketingReleases();
	|?>


block vars
	- var herostyle = 'covering'
	- var currentClass = 'home'
	//- Not using pageTitle; full title tag is overridden below
	- var description = 'Lorenzo Wood is an award-winning pop musician, songwriter, producer, and vocalist from the San Francisco area.'
	//- ................'[________^10_______^20_______^30_______^40_______^50_______^60_______^70_______^80_______^90_______^100______^110______^120______^130______^140______^150_]'

block title
	title Lorenzo Wood Music — Official Site
	//- overrides generated page title used on other pages
	
block append links
	link(rel="prefetch" href="//code.jquery.com")
		//- This should be done on any page using jquery - ONLY HOME PAGE & 2AM PAGE
	link(rel="prefetch" href="//img.youtube.com")
		//- This should be done on any page showing YOUTUBE VIDEOS

//- REMINDER: DASH AFTER SLASH-SLASH HIDES COMMENTS FROM PUG COMPILER

//-.info(style="position:absolute; top:0; left:0; width:100%; height:20px; color:red;z-index:9999")

block append header
	.hero
		<?php if ($release) { ?>
		.action-banner.clearfix.safe-area-only
			p
				<a target="_blank" href="/link/<?php echo htmlentities($release['slug'], ENT_QUOTES); ?>">
					<img loading="lazy" style="display:inline-block; width:32px; height:auto; padding:0;" src="<?php echo htmlentities($db->pathCDNForImageSize($release, 64), ENT_QUOTES); ?>" alt="<?php echo htmlentities($release['title'], ENT_QUOTES); ?>, cover image" />
				</a>
				span <?php echo htmlspecialchars( ($now < $releaseDate ? 'Upcoming' : ($releaseDate < $oneMonthAgo ? 'Latest' : 'New')) . ' ' . $release['release_type_name'] . ' “' . $release['title'] . '”'); ?> —
					| &nbsp;
				b
					<a style="text-decoration:underline" href="/link/<?php echo htmlentities($release['slug'], ENT_QUOTES); ?>"><?php echo ($now < $releaseDate) ? 'Pre-Save or Pre-Order Now!' : 'Download or stream now!'; ?></a>
		<?php } ?>

		img.hero-image.covering.swapping-image(srcset=cloudPrefix + "img/banner1_giant.jpg 2560w, " + cloudPrefix + "img/banner1_big.jpg 1920w, " + cloudPrefix + "img/banner1_medium.jpg 960w, " + cloudPrefix + "img/banner1_small.jpg 640w" sizes="100vw" src=cloudPrefix + "img/banner1_medium.jpg" loading="eager" alt="Lorenzo Wood")

	.icons.icons-header.absolute.icons-5.safe-area-only
		.icon
			a(data-title="Instagram" href="https://instagram.com/LorenzoWoodMusic")
				svg: use(xlink:href="/svg/homepage.svg#instagram")
		.icon.smaller
			a(data-title="Facebook" href="https://facebook.com/LorenzoWoodMusic")
				svg: use(xlink:href="/svg/homepage.svg#facebook")
		.icon
			a(data-title="YouTube" href="https://www.youtube.com/lorenzowoodmusic")
				svg: use(xlink:href="/svg/homepage.svg#youtube")
		.icon.smaller
			a(data-title="Apple Music" href="https://geo.itunes.apple.com/us/artist/lorenzo-wood/1262743720?at=1000lKSp")
				svg: use(xlink:href="/svg/homepage.svg#apple-music-monochrome")
		.icon
			a(data-title="Spotify" href="https://open.spotify.com/artist/1rEOrX1GSkT1SJAsG1fBYA?si=kAr7Wf29R7WkScnbG9d2dg")
				svg: use(xlink:href="/svg/homepage.svg#spotify")


		//- NOTE: I tried using SVG 'defs' and 'use' to reduce duplication, but somehow
		//- the svg elements got a width of 300px that messed everything up.

block main

	section.bio

		header.ir(aria-hidden="true")
			h2 Bio
		article.textual

			//- Try to match meta description above with text below

			p.
				Lorenzo Wood is an award-winning musician, songwriter, producer, and vocalist from the San Francisco area. His heartfelt, honest lyrics present a personal perspective of friendships, relationships, and coming of age in the modern era of social media. His songs, rooted in the pop genre, borrow from a number of different musical styles to create a distinctive mix of real instruments and electronic sounds.
	
			p.
				In addition to recording and producing songs and videos in his home studio, Lorenzo performs solo or with a band live. With a skillset of music performance technology, he puts together unique, intricate live setups that make his performances stand out. 
			p.
				Lorenzo lists Maroon 5, Train, U2, Shawn Mendes, and John Mayer as his initial musical influences. But now he feels his style resembles more that of artists like Bazzi, Julia Michaels, Post Malone, and Jonas Brothers.

			p.
				Lorenzo has been performing and recording his songs since a young age. At age 13, he discovered busking, and has been performing primarily at street festivals in the San Francisco Bay Area every summer/fall since then.

			p.
				In 2018, while releasing his first EP at the age of 15, he put together and hired a band to play the newly released songs with him on stage. He performed again 2019 with a new lineup.

			p.
				Lorenzo has also performed as a member of several local bands. Recently he has supported Kat Van Morgan, Saint Benjamin, and others, playing whatever instruments were needed.

			p.
				For many of his own performances and those of others, Lorenzo coordinates and runs live sound, being knowledgeable and experienced with most audio and musical equipment.



	section.mailchimp-section
		div.centered
			form.validate.taller(action="https://lorenzowoodmusic.us16.list-manage.com/subscribe/post?u=3fb2f947fceaaa94b99d40919&amp;id=1c68d63e9a"
				method="post"
				name="mc-embedded-subscribe-form"
				target="_blank")
				//- Use raw HTML here since the escaping happens too early when processed by pug
				<input type="email" id="mce-EMAIL" name="EMAIL" placeholder="Email address" title="The domain portion of the email address is invalid (the portion after the @)." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
				input#mce-FNAME(type="text" name="FNAME" placeholder="First Name")
				input#mce-LNAME(type="text" name="LNAME" placeholder="Last Name")
				span.ir(aria-hidden="true")
					input(class="ir" type="text" name="b_3fb2f947fceaaa94b99d40919_1c68d63e9a" tabindex="-1")
				input.button(type="submit" value="Subscribe to Announcement Email List" name="subscribe")


	section.gigs
		article.textual

			//- Bands in Town content gets loaded here from cache.
			|<?php include 'CACHE/bandsintown.html'; ?>
			p: i Please check back closer to the scheduled dates to make sure performances are not cancelled due to coronavirus.
			//- p
			//-	span.bandsintown-button
			//-		a(href="https://www.bandsintown.com/a/14965242")
			//-			include svg/bandsintown-logo.svg
			//-			| Track Lorenzo Wood on BandsInTown
			//-	|
			//-	|to be notified of upcoming gigs!

	section.latest-releases.unpadded
		.subsection.ir(aria-hidden="true")
			article
				header
					h2 Latest Releases

		//- note that above definition of $release is not longer valid since we define it here in the loop
		<?php $reversed = false; foreach ($marketingReleases as $release) { ?>

		<div class="subsection <?php echo $release['light_text'] ? 'light-text' : 'dark-text'; if ($reversed) { echo ' reversed'; } $reversed = !$reversed; ?>" style="background-color:<?php echo htmlentities($release['color'], ENT_QUOTES); ?>">
			article
				<div class="release-blurb<?php if (!$release['youtube_video_v']) { echo ' no-video'; } ?>">
					.release-image.bordered
						<a href="/link/<?php echo htmlentities($release['slug'], ENT_QUOTES); ?>"><?php
						|	echo '<img src="';
						|	echo htmlentities($db->pathCDNForImageSize($release, 64), ENT_QUOTES);
						|	echo '" alt= "Cover image of ';
						|	echo htmlentities($release['title'], ENT_QUOTES);
						|	echo '" srcset="';
						|	echo htmlentities(
						|		$db->pathCDNForImageSize($release, 64) . ' 64w, ' .
						|		$db->pathCDNForImageSize($release, 384) . ' 384w, ' .
						|		$db->pathCDNForImageSize($release, 640) . ' 640w', ENT_QUOTES);
						|	echo '" sizes="(max-width: 768px) 100vw, 25vw"/>';
						|?>
						</a>
					h3
						<a href="<?php echo '/link/' . htmlentities($release['slug'], ENT_QUOTES); ?>">
							<?php echo htmlspecialchars($release['title']); ?>
						</a>
					<?php if ($release['artist_id'] != 1) { echo '<h4>' . htmlspecialchars($release['artist_name']) . '</h4>'; } ?>
					<?php echo $release['description_html']; ?>


					<?php $releaseDate = new DateTime($release['release_date'], new DateTimeZone('America/New_York'));
					|if ($now < $releaseDate) { ?>

					<h4>Releasing <?php echo htmlspecialchars($releaseDate->format('F j, Y')); ?></h4>
					<p><a class="bold" href="link/<?php echo htmlentities($release['slug'], ENT_QUOTES); ?>">Pre-Save / Pre-Order</a></p>

					<?php } else { ?>

					<h4><?php echo htmlspecialchars($releaseDate->format('F Y')); ?></h4>
					<p><a class="bold" href="link/<?php echo htmlentities($release['slug'], ENT_QUOTES); ?>">Download/Stream</a></p>

					<?php } ?>
				</div> <!-- end release blurb -->
				<?php if ($release['youtube_video_v']) { echo '<div class="release-video"><div class="youtube" data-code="' . $release['youtube_video_v'] . '"></div></div>'; } ?>
		</div> <!-- end subsection-->

		<?php } ?>



//- block more-credits
//- 	span.dimmer Photo credits: Lucy Gigli

block additional-html
	#cover(style="display:none")
	.modal#contacter(style="display:none")
		include _contact.html
		//- Contact form popup gets its "guts" from this file, just the HTML innards
	#close-modal(style="display:none") &#215;

	#scroll-arrow.scrolldown.bounce(style="display:none; stroke:purple;")
		a.down-arrow(href="#")
			svg: use(xlink:href="/svg/homepage.svg#downarrow")


//- NOTE THAT HOME PAGE & 2AM PAGE ARE ONLY PAGES USING JQUERY

block prepend scripts
	script(
		src="https://code.jquery.com/jquery-3.5.1.min.js"
		integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
		crossorigin="anonymous")
	script.
		window.jQuery || document.write('<script src="js/vendor/jquery-3.5.1.min.js"><\\/script>')
	script
		include js/index-min.js
		include js/hero-min.js
		include js/youtube-min.js
		//- This goes after the youtube code for "iOS"
		|if (iOS) $('#form-album').val(window.DeviceMotionEvent ? '2938' : '8603');


	<script type="application/ld+json">{"@context":"http://schema.org","@type":"Person","name":"Lorenzo Wood","url":"https://www.lorenzowoodmusic.com/","sameAs":["https://www.facebook.com/lorenzowoodmusic/","https://twitter.com/lorenzowmusic","https://www.instagram.com/LorenzoWoodMusic/","https://www.youtube.com/lorenzowoodmusic","https://listen.tidal.com/artist/9832731","https://soundcloud.com/LorenzoWoodMusic","https://geo.itunes.apple.com/us/artist/lorenzo-wood/1262743720?at=1000lKSp","https://open.spotify.com/artist/1rEOrX1GSkT1SJAsG1fBYA?si=kAr7Wf29R7WkScnbG9d2dg"]}</script>

