|<?php
|// We could show an initial warning that downloads from iOS don't go into the library directly?
|$iOSDevice = false; // or set to a non-false text value
|if (preg_match("/(\\(iPod|\\(iPhone|\\(iPad)/", $_SERVER['HTTP_USER_AGENT'], $matches)) {
|	$iOSDevice = substr($matches[1], 1);
|}
|$code = isset($_GET['code']) ? htmlspecialchars($_GET['code']) : '';
|$email = isset($_GET['email']) ? htmlspecialchars($_GET['email']) : '';
|?>

doctype html
html(class="no-js", lang="en-us")
	head
		meta(charset="utf-8")
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge'><![endif]-->
		title Lorenzo Wood Music — Official Site
		meta(name="description"
			content="Lorenzo Wood is a young musician from Alameda, California USA. He sings, plays guitar, drums, keyboards, etc. He also writes and produces original songs.")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover")
		link(rel="apple-touch-icon" href="icon.png")
		link(rel="stylesheet" href="css/main.033018.css")
		link(rel="prefetch" href="//code.jquery.com")
		link(rel="prefetch" href="//w.soundcloud.com")
		link(rel="prefetch" href="//img.youtube.com")
		link(rel="prefetch" href="//widget.bandsintown.com")
	body
		<!--[if lt IE 9]>
			p.browserupgrade.
				You are using an #[strong outdated] browser. Please
				#[a(href="http://browsehappy.com/") upgrade your browser]
				to improve your experience.
		<![endif]-->

		//-.info(style="position:absolute; top:0; left:0; width:100%; height:20px; color:red;z-index:9999")
		header#main-header

			h1.ir Lorenzo Wood Music
			.logo
				include svg/lorenzowoodmusic.svg
			.hero
				picture
					source(srcset="img/beach.webp 1920w" type="image/webp")
					source(srcset="img/beach.jpg 1920w, img/beach50.jpg 960w, img/beach33.jpg 640w")
					img(src="img/beach.jpg" alt="Lorenzo Wood")

			.icons.popular.safe-area-only
				a(data-title="Instagram" href="https://instagram.com/LorenzoWoodMusic")
					include svg/instagram.svg
				a(data-title="Facebook" href="https://facebook.com/LorenzoWoodMusic")
					include svg/facebook.svg
				a(data-title="Snapchat" href="https://www.snapchat.com/add/lorenzo.wood")
					include svg/snapchat.svg
				a(data-title="Twitter" href="https://twitter.com/lorenzowmusic")
					include svg/twitter.svg
				a(data-title="YouTube" href="https://www.youtube.com/lorenzowoodmusic")
					include svg/youtube.svg
				a(data-title="SoundCloud" href="https://soundcloud.com/LorenzoWoodMusic")
					include svg/soundcloud.svg
				//- NOTE: I tried using SVG 'defs' and 'use' to reduce duplication, but somehow
				//- the svg elements got a width of 300px that messed everything up.

			nav.main-nav.safe-area-only
				//- later make this a full menu with hamburger etc.
				a.download(href="EPK.zip") Electronic Press Kit
				#scroll-arrow.scrolldown.bounce(style="display:none")
					a.down-arrow(href="#")
						include svg/downarrow.svg

		main

			section.bio
				header.ir(aria-hidden="true")
					h2 Bio
				article.textual

					//- Try to match meta description above with text below
					p.
						Lorenzo Wood is a young musician from Alameda, California USA. He sings, plays guitar, drums,
						piano/keyboards, bass, and, in an emergency, ukulele. He also beat-boxes, and uses a looper
						for live performances. He writes or co-writes many of his own original songs. He produces and
						records his music (using Apple Logic) and creates live performance videos.
					p.
						Lorenzo started learning to play the drums at the age of four. At the age of seven, he
						performed in children’s musical theatre productions, and restarted performances at age
						eleven, including key roles in #[em Annie], #[em High School Musical], and
						#[em Into the Woods]. He has been taking music/piano lessons and, more recently, voice
						lessons. He is entirely self-taught on guitar.
					p.
						Lorenzo lists
						#[a(href="http://www.edsheeran.com/") Ed Sheeran],
						#[a(href="http://www.maroon5.com") Maroon 5],
						#[a(href="http://www.charlieputh.com") Charlie Puth],
						#[a(href="http://www.shawnmendesofficial.com") Shawn Mendes],
						#[a(href="http://www.jamestaylor.com") James Taylor],
						#[a(href="http://www.johnmayer.com") John Mayer],
						#[a(href="http://www.thebeatles.com") The Beatles],
						#[a(href="http://samsmithworld.com") Sam Smith],
						#[a(href="http://www.niallhoran.com") Niall Horan], and
						#[a(href="http://www.savemesanfrancisco.com") Train]
						as his musical influences.
					p.
						Lorenzo enjoys working with other musicians, and has recorded a number of duets for video.
						He has been busking at local street festivals or busy streets, by himself or with support
						on bass or percussion, since age 13. He’s expecting to have his first EP, self-produced, ready
						later this year.

					//- Bands in Town content gets loaded here asynchronously.
					#bandsintown-widget

					p
						span.bandsintown-button
							a(href="https://www.bandsintown.com/track/lorenzowoodmusic")
								include svg/bandsintown.svg
								| Track Lorenzo Wood on BandsInTown
						|
						|to be notified of upcoming gigs!



			section.patreon-section
				article.textual
					h2
						span.patreon-button
							a(href="https://www.patreon.com/lorenzowoodmusic")
								| Support Lorenzo Wood Music on
								|
								span(aria-hidden="true")
									include svg/patreon.svg
								| #[span.patreon-link Patreon]!
					p.
						Patreon is an online system where you can become a “patron” or sponsor of up-and-coming content creators you like through ongoing support and funding. Click the button above and find out how you can support Lorenzo’s creativity.



			section.instagram-section.requires-js.maximize-mobile
				header
					h2 Instagram
				article
					#lightweight_widget
				footer
					h3
						a(href="https://instagram.com/LorenzoWoodMusic") More from Instagram



			section.soundcloud-section.balance-footer.requires-js.maximize-mobile
				header.ir(aria-hidden="true")
					h2 SoundCloud

				//- Trip Switch, Attention, Wounded

				article.clearfix
					each code in ['386311568', '334122523', '295083156']
						.soundcloud-column
							.soundcloud-proxy(data-code=code)
				footer
					h3
						a(href="https://soundcloud.com/LorenzoWoodMusic") More from SoundCloud



			section.youtube-section.balance-footer.requires-js.maximize-mobile
				header.ir(aria-hidden="true")
					h2 YouTube

				article.clearfix
					each info in ['70I6bRqtJfI:Shawn Mendes - In My Blood (Live Acoustic Cover)', 'ZMnSrxiWkBs:In The Air Tonight by Phil Collins (cover by Lorenzo Wood)']
						.youtube-column
							.youtube(data-embed=info)

				footer
					h3
						a(href="https://www.youtube.com/lorenzowoodmusic") More from YouTube



			section.track-section
				article.textual.clearfix
					.track-photo
						picture
							source(srcset="img/southshore.webp 990w" type="image/webp")
							source(srcset="img/southshore.jpg 990w, img/southshore50.jpg 495w")
							img(src="img/southshore.jpg" alt="Lorenzo Wood singing, at South Shore Center, viewed from the side")
					.track-form.input-form
						.track-form-padded
							h2 Subscribe to Lorenzo's mailing list
							p We also suggest tracking Lorenzo on #[a(href="https://bandsintown.com/lorenzowoodmusic") BandsInTown].
							form.validate(action="https://lorenzowoodmusic.us16.list-manage.com/subscribe/post?u=3fb2f947fceaaa94b99d40919&amp;id=1c68d63e9a"
								method="post"
								name="mc-embedded-subscribe-form"
								target="_blank")
								div
									label(for="mce-EMAIL") Email Address
									//- Use raw HTML here since the escaping happens too early when processed by pug
									<input type="email" id="mce-EMAIL" name="EMAIL" title="The domain portion of the email address is invalid (the portion after the @)." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
								div
									label(for="mce-FNAME") First Name
									input#mce-FNAME(type="text" name="FNAME")
								div
									label(for="mce-LNAME") Last Name
									input#mce-LNAME(type="text" name="LNAME")
								.ir(aria-hidden="true")
									input(class="ir" type="text" name="b_3fb2f947fceaaa94b99d40919_1c68d63e9a" tabindex="-1")
								div: input.button(type="submit" value="Subscribe" name="subscribe")



			section.contact
				header
					h2 Contact Lorenzo Wood Music
				article.textual
					.input-form
						form#contact-form(action="https://jumprock.co/mail/lozobooking" method="post")
							div
								//- Use raw HTML here since the escaping happens too early when processed by pug
								<input type="email" name="email" id="email" placeholder="Email Address" title="The domain portion of the email address is invalid (the portion after the @)." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
							div: textarea(type="text" id="message" name="message" rows="10" cols="40" required="required")
							div
								input(type="text" name="trapit" class="trapit")
								input(type="hidden" name="replyto" value="%email")
								input.button(type="submit" value="Contact us")


		footer

			.icons.exhaustive.safe-area-only
				a(data-title="Instagram" href="https://instagram.com/LorenzoWoodMusic")
					include svg/instagram.svg
				a(data-title="Facebook" href="https://facebook.com/LorenzoWoodMusic")
					include svg/facebook.svg
				a(data-title="Snapchat" href="https://www.snapchat.com/add/lorenzo.wood")
					include svg/snapchat.svg
				a(data-title="Twitter" href="https://twitter.com/lorenzowmusic")
					include svg/twitter.svg
				a(data-title="YouTube" href="https://www.youtube.com/lorenzowoodmusic")
					include svg/youtube.svg
				a(data-title="SoundCloud" href="https://soundcloud.com/LorenzoWoodMusic")
					include svg/soundcloud.svg
				a(data-title="Reverb Nation" href="https://www.reverbnation.com/lorenzowoodmusic")
					include svg/reverbnation.svg
				a(data-title="Bands in Town" href="https://bandsintown.com/lorenzowoodmusic")
					include svg/bandsintown.svg
				a(data-title="Holonis" href="https://holonis.com/lorenzowoodmusic")
					include svg/holonis.svg
				a(data-title="Patreon" href="https://www.patreon.com/lorenzowoodmusic")
					include svg/patreon.svg
			p
				b Copyright © 2017-2018 Lorenzo Wood
				span.dimmer &nbsp; Photo credits: Lucy Gigli, David Weintraub
			p.js-required.
				JavaScript is disabled in your browser; please enable it to see missing content.

		a.bit-widget-initializer(data-artist-name="Lorenzo Wood Music"
			data-display-local-dates="false"
			data-display-past-dates="false"
			data-auto-style="false"
			data-text-color="#000000"
			data-link-color="#00AEA8"
			data-popup-background-color="#FFFFFF"
			data-background-color="#FFFFFF"
			data-display-limit="5"
			data-link-text-color="#FFFFFF"
			data-div-id="bandsintown-widget")

		script(
			src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
			crossorigin="anonymous")
		script.
			window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\\/script>')
		script
			include js/index-min.js
		script(src="CACHE/bandsintown.js")
			//- Cached on server from https://widget.bandsintown.com/main.min.js

